.library_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.library_list_container {
    display: flex;
    flex: 1;
    position: relative;
}

.show_controller,
.hide_controller {
    display: none;
    text-align: center;
}

@media (max-width: 1180px) {
    .library_controller_container {
        flex-direction: column;
    }

    .library_controller_container > button {
        display: none;
    }

    .show_controller {
        display: block;
    }

    .show_controller:target {
        display: none;
    }

    .show_controller:target + .hide_controller,
    .show_controller:target ~ button {
        display: block;
    }
}

.library_title {
    margin-top: 0;
}

.library_controller_container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.library_controller_container > button {
    flex: 1;
}