.library_container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.library_list_container {
    display: flex;
    flex: 1;
    position: relative;
}

.library_title {
    margin-top: 0;
}

.library_controller_container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.library_controller_container > button {
    flex: 1;
}